html{

}
body{
margin: 0;
background-color:#EBF0FF ;
}

ul,ol,li{
    list-style: none;
}

a{
text-decoration: none;
}

*
*::before,
*::after{
    box-sizing: border-box;
}
.wrap{
    max-width: 1440px;
    margin: auto;
    
}
.container{
    max-width: 1200px;
    margin: auto;
}

.wrap-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.text-rait{
    display: flex;
    align-items: center;
    gap:32px ;
    
}
.text-rait1 ul{
display: flex;
align-items: center;
gap:15px ;

}

.text-rait1 ul li a{
    color: rgba(81, 81, 81, 1);
    
}

.text-rait2 a{
    display: flex; 
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    width: 100px;
    height: 51px;   
    background-color:rgba(240, 184, 13, 1) ;
    text-decoration: none; 
}

/* BANER */
.baner{
    margin-bottom:100px ;
    margin-top: 112px;
}
.left-text h1{
    font-size: 48px;
}
.baner-box{
    display: flex;
    justify-content: space-between;
}
.baner-left{
   width: 50%; 
   
}
.blu{
  color: rgba(83, 128, 234, 1); 
  position: relative; 
}

.blu img{
    position: absolute;
    top: 50px;
}

.left-box{
   background-color: rgb(255, 255, 255);
   border-radius: 10px;
    width: 577px;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24PX;
    margin-bottom: 20px;
}

.img-left img{
    margin-left: 24px;
}

.text-left h1{
font-size:16px ;
}
.text-left p{
    font-size: 16px;
    color: rgba(81, 81, 81, 1);
}


.small-boll{
    width: 20px;
    height: 20px;
    border-radius: 50%;

}
.yellow-boll{
    background-color: rgba(240, 184, 13, 1);
}
.pink-boll{
    background-color: rgba(228, 145, 146, 1);
}
.blu-boll{
    background-color: rgba(83, 128, 234, 1);
}

.medium-boll{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.img-rait{
    position: relative;
}

.bol1{
    position: absolute;
    top: 170px;
}
.bol2{
    position: absolute;
    top: 0;
    left: 375px;
}
.bol3{
    position: absolute;
    top:150px ;
    right: 0;
}
.bol4{
    position: absolute;
    top: 450px;
    right: 40px;
}
.bol5{
    position: absolute;
    bottom: 50px;
    left: 50px;
}
.bol6{
    position: absolute;
    top: 70px;
    left: 140px;
}
.bol7{
    position: absolute;
    right: 30px;
    top: 300px;
}
.bol8{
    position: absolute;
    bottom: 50px;
    left:300px ;
}

.suport-lorem{
    margin-bottom: 112px;
}

.suport-boxici{
    width: 32%;
    background-color: rgb(255, 255, 255);
   border-radius: 10px;
    
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24PX;
    margin-bottom: 20px;
}

.suport-box{
    display: flex;
}
/* microsoft */
.microsoft{
    margin-bottom: 112px;
}
.trust{
    text-align: center;
}
.trust1{
    position: relative;
    font-size: 36px;
}
.trust1 img{
    position: absolute;
    top: 40px;
}
.trust p{
    font-size: 16px;
    color:rgba(81, 81, 81, 1) ;
}

.microsoft-img{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*  */
.register-interest{
    margin-bottom: 100px;
}
.register-interest_row{
    display: flex;
    gap: 85px;
}
.register-interest_name{
    width: 90%;
    height: 631px;
    background-color: white;
    border-radius: 10px;
    padding: 24px;
}
.register-img{
    position: relative;
}
.register-img img{
    width: 100%;
}
.sircle{
    display: inline-block;
    width: 334px;
    height: 334px;
    background: radial-gradient(50% 50% at 50% 50%, #fab7b8 0%, rgba(246, 251, 248, 
0.00) 100%);
position: absolute;
top: 230px;
left: 270px;
z-index: -1;
}
.text3{
    font-weight: bold;
    font-size: 36px;
    padding: 0 0 15px;
}
.text4{
    padding: 0 0 35px;
}
.text5{
    font-size: 16px;
    padding: 0 0 10px;
}
.input{
    width: 100%;
    height: 51px;
    border-radius: 10px;
    background-color: #F9FAFF;
    outline: none;
    border: 1px solid #DEE6FF;
    margin-bottom: 35px;
}
.input::placeholder{
    color: #aaaa;
    padding: 0 10px 0;
}
.submit a:hover{
    color: black;
    transition: 1s;
   text-decoration: underline;
}
.submit a{
    width: 200px;
    height: 51px;
    background-color: #5380EA;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50px;
    text-decoration: none;
}

.lain{
    width: 100%;
    border: 1px solid rgb(204, 201, 206);
}
/* MEDIA */
@media(max-width:1170px){
    .wrap-box {
        flex-direction: column-reverse;
        align-items: center;
        
    }
    .baner-box{
        flex-direction: column;
        align-items: center;
    }
    .baner-left{
        
       width: 50%;
       margin: auto;
    } 
    .suport-box{
        flex-direction: column;
        align-items: center;
    }
    .microsoft-box{
        flex-direction: column;
        align-items: center;
    }
    .register-interest_row{
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:1050px){
    .suport-boxici{
        width: 90%;

    }
    
}
@media(max-width:791px){
    .blu{
      position: relative;
      }
      
      .blu img{
         position: absolute;
       left: -300px;
       top: 100px;
      }
}
@media(max-width:666px){
    .container{
        max-width: 630px;
    }
    .wrap-box {
        flex-direction: column-reverse;
        align-items: center;
        
    }
    .baner-box{
        flex-direction: column;
        align-items: center;
        
    }
    .baner-left{
        
        width: 100%;
     }
     .blu{
        color: rgba(83, 128, 234, 1); 
        position: relative; 
      }
      
      .blu img{
          position: absolute;
          top: 50px;
          left: 1px;
      }
   .suport-box{
    flex-direction: column;
    align-items: center;
   }
   .suport-boxici{
    width: 100%;
   }
   .microsoft-box{
    flex-direction: column;
    align-items: center;
}
 .suport-boxici{
    width: 100%;
} 
.microsoft-img{
    justify-content: center;
    gap: 20px;
}
.microsoft-img div:nth-child(2){
    display: none;
    }
.microsoft-img div:nth-child(4){
display: none;
}
.register-interest_row{
    flex-direction: column;
    align-items: center;
}
}
@media(max-width:590px){
    .wrap-box {
        flex-direction: column-reverse;
        align-items: center;
        
    }
    .left-box{
        width: 100%;
    }
    .img-rait img{
        width: 100%;
    }
    .register-img{
        width: 100%;
    }
    .sircle{
        left: 0;
    }
    .left-bo img{
        width: 100%;
    }
    .baner-box{
        flex-direction: column;
        align-items: center;
        
    }
    .blu{
        color: rgba(83, 128, 234, 1); 
        position: relative; 
      }
      
      .blu img{
          position: absolute;
          top: 50px;
          left: 2px;
      }
   .suport-box{
    flex-direction: column;
    align-items: center;
   }
   .microsoft-box{
    flex-direction: column;
    align-items: center;
}
 .suport-boxici{
    width: 100%;
} 
.microsoft-img{
    justify-content: center;
    gap: 20px;
}
.microsoft-img div:nth-child(2){
    display: none;
    }
.microsoft-img div:nth-child(4){
display: none;
}
.register-interest_row{
    flex-direction: column;
    align-items: center;
}
    
}
